.popular-communities-container{
    display: flex;
    flex-direction: column;
    background-color: #ebecf0;
    border-radius: 10px;
    height: 40%;
    width: 80%;
    padding: 1%;
    font-size: small;
}
.communities-container{
    display: flex;
    padding: 1rem;
    justify-content: flex-start;
    gap: 0.5rem;
}
.communities-container:hover{
    background-color: lightgrey;
}
.community{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.community-image{
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
}
.community p {
    margin: 0px;
}